footer  {
    min-height: 220px;
    background-color: $dark-blue;


    @media(max-width: $sm-tablet) {
	    min-height: 170px;
    }

    @media(max-width: $md-phone) {
	    min-height: 100px;
    }

    .brand {
	    padding-top: 100px;
	    display: block;

	    @media(max-width: $sm-tablet) {
		    padding-top: 70px;
	    }

	    @media(max-width: $md-phone) {
		    padding-top: 30px;
	    }
	}
}