header {
	background-color: $dark-blue;
    min-height: 110px;
    padding: 33px 0;

    @media(max-width: $desktop) {
      	min-height: 50px;
      	padding: 0;
        position: fixed;
    	width: 100%;
    	z-index: 2;
    }

	.container {
		padding: 0;

		.navbar {
			padding: 0;

		    .brand {
		    	@media(max-width: $phone) {
			      	margin-left: 1rem;
			    }

			    img {

			    	@media(max-width: $phone) {
					    width: 35px;
					    height: 35px;
				    }
			    }
		    }

		    .contact-us {
			    @media(max-width: $sm-tablet) {
			      	padding-right: 35px;
			      	padding-top: 13px;
			    }

		    	a {
				    color: #fff;
		    		font-family: $mont-heavy;
		    		font-size: 1.5rem;
		    		margin-bottom: 0;
		    		position: relative;

		    		&:hover {
		    			text-decoration: none;
		    			color: #fff;
		    		}

		    		&:before {
		    			content: "";
		    			width: 40px;
		    			height: 4px;
		    			background-color: #24964d;
		    			display: block;
		    			position: absolute;
		    			top: 15px;
		    			left: -60px;

						@media(max-width: $sm-tablet) {
						    display: none;
						}

		    		}

		    		.icon {
		    			width: 25px;
		    			height: 25px;
		    		}
				}
		    }
		}
	}

	&.mobile-menu-open {
	    position: fixed;
	    width: 100%;
	    z-index: 2;
	}
}


.page-header {
	padding: 2rem 0;
    background-color: $bg-gray;


    @media(max-width: $desktop) {
      	background-color: #10191c; 
      	padding: 0;
		position: fixed;
	    top: 53px;
	    width: 100%;
	    z-index: 2;
    }

	@media(max-width: $phone) {
	    top: 50px;
    }

	.navbar {
	    padding: 0;

	    li {
	    	display: inline-block;
	    	a {
	    		font-family: $mont-heavy;
			    color: #333333;
			    font-size: 1.125rem;
				-webkit-font-smoothing: antialiased;
				padding: 10px 23px;
				display: block;
				cursor: pointer;
				transition: 0.3s;
		
			    @media(max-width: $widescreen) {
			      	padding: 10px;
			    }

				@media(max-width: $desktop) {

				    display: inline-block;
				    color: #fff;
				    padding: 5px 0;
				    padding-left: 30px;
				    font-size: 2rem;
				}

				&:hover {
					text-decoration: none;
	
					&:after {
					    width: 100%;
					    content: "";

					}
				}

				&:after {
					content: "";
				    height: 4px;
				    background-color: #333;
				    width: 0;
				    display: block;
				    margin-top: 5px;
					transition: 0.3s;

					@media(max-width: $desktop) {
					    background-color: #fff;
					}
				}
			}

			&:last-child {

				a {
					background-color: #24964d;
					color: #fff;
					border-radius: 3px;

					@media(max-width: $desktop) {

					    background-color: transparent;
					}
					
					&:hover {
						background-color: #1a833f;


						@media(max-width: $desktop) {

						    background-color: transparent;
						}
					}
					
					&:after {
						display: none;


						@media(max-width: $desktop) {

						    display: block;
						}
					}
				}
			}


			&.current-menu-item {
				a {
					color: #24964d;

					&:after {
						content: "";
						height: 4px;
						background-color: #24964d;
						width: 100%;
						display: block;
						margin-top: 5px;
					}

					&:hover {
						&:after {
							background-color: #24964d;
						}
					}
				}
			}
	    }
	}

	.navbar-open {


	    @media(max-width: $desktop) {
	      	transition: 0.5s;
			background-color: #0f191c;
		    position: fixed;
		    z-index: 2;
		    height: 100vh;
		    top: 295px;
		    width: 0;
		    right: 0;
	    }
	}

	.navbar-mobile {

	    .navbar-collapse {

	    	@media(max-width: $desktop) {
		    	opacity: 0;
			    position: fixed;
			    z-index: 2;
			    width: 0;
			    left: 0;
			    top: 133px;
			    background-color: #0f191c;
			    transition: 0.3s;
			    height: calc(100vh - 119px);
			    padding-top: 80px;
			}

			@media(max-width: $phone) {
			    top: 130px;
		    }
	    }

	    &.mobile-menu-slide {

		    .navbar-collapse {
			    width: 100%;
			    opacity: 1;
		    }
	    }
	}
}

.navbar-toggler {
  padding: 20px 15px;
  border: none;
  z-index: 9;
  background: transparent !important; 
  outline: 0 auto -webkit-focus-ring-color;
  cursor: pointer;

	@media(max-width: $desktop) {
	    display: block !important;
	    float: right;
	}

  &:focus,
  &:hover {
    background: transparent !important;
  outline: 0 auto -webkit-focus-ring-color;
  }

  .icon-bar {
      width: 33px;
      height: 2px;
      background-color: #45964e;
      display: block;
      margin: 4px;
      margin-bottom: 10px;
      transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(48deg);
    transform-origin: 2% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-48deg);
    transform-origin: 2% 90%;
  }


  &.collapsed {

    .icon-bar {
      background-color: #45964e;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
      transition: .3s;

    }

    .top-bar {
      transform: rotate(0);      
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}