.section {
	h3 {
	    font-family: $mont-heavy;
	    font-size: 1.625rem;
	    -webkit-font-smoothing: antialiased;
	    margin-bottom: 45px;


        @media(max-width: $md-phone) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
	}
}

.section-l1 {
    padding: 145px 0 90px;


    @media(max-width: $md-phone) {
        padding: 125px 0 25px;
    }
    
    .content-about-us {
    	p {
    		font-family: $mont-bold;
    		font-size: 1.0625rem;
    		color: #808080;
    		-webkit-font-smoothing: antialiased;
    		line-height: 1.875;
    		position: relative;

    		&:after {
    			content: "";
    			height: 4px;
    			width: 80px;
    			background-color: #24964d;
    			position: absolute;
    			left: 0;
    			bottom: -50px;
    		}
    	}
    }
}

.news-item {
    margin-bottom: 47px;


    @media(max-width: $md-phone) {
        margin-bottom: 20px;
    }

    .news-img-wrapper {
	    border-radius: 7px;
	    max-height: 122px;
	    overflow: hidden;

	    img {
		    width: 100%;
	    	border-radius: 5px;
		}
	}

	.news-details {
		.date-published {
			font-family: $mont-bold;
    		font-size: 1rem;
			color: #bfbfbf;
		}

		.description {
    		font-family: $mont-bold;
    		font-size: 1.0625rem;
    		line-height: 1.7;
    		color: #4c4c4c;
		}
	}
}


.content-news {

    @media(max-width: $md-phone) {
        margin-top: 50px;
    }
}

.section-result,
.section-page {
    min-height: calc(100vh - 459px);
    padding: 50px 0;
}