.section-banner {
    background-color: $bg-gray;
    height: 368px;

    @media(max-width: $widescreen) {
        height: 285px;
    }

    @media(max-width: $desktop) {
        padding-top: 50px;
    }
    

    @media(max-width: $sm-tablet) {
	    padding-top: 65px;
	    height: 195px;
    }

    @media(max-width: $phone) {
    	height: 430px;
    }

    @media(max-width: $md-phone) {
    	height: 370px;
    }

    .banner {
	    height: 433px;
	    background-color: #0f191c;
	    border-radius: 5px;

	    @media(max-width: $widescreen) {
	        height: 360px;
	    }

	    @media(max-width: $desktop) {
	        height: 267px;
	    }

	    @media(max-width: $sm-tablet) {
	        height: 177px;
	    }

	    @media(max-width: $phone) {
		    height: 260px;
	    }

		.item {
		    background-color: #10191c;

			.banner-caption {
			    padding: 50px 25px 50px 50px;
			    height: 433px;

			    @media(max-width: $widescreen) {
				    padding: 25px;
				    height: 350px;
			    }


			    @media(max-width: $desktop) {
			        height: 267px;
			    }

			    @media(max-width: $tablet) {
				    padding: 20px;
			    }

			    @media(max-width: $sm-tablet) {
				    height: 177px;
				    padding: 10px;
			    }
			    
			    .description {
		    		font-family: $mont-bold;
		    		font-size: 2rem;
		    		color: #ffffff;
		    		-webkit-font-smoothing: antialiased;
		    		line-height: 2.5rem;

				    @media(max-width: $widescreen) {
					    font-size: 1.5rem;
					    line-height: 1.2;
				    }

				    @media(max-width: $desktop) {
				        font-size: 1rem;
				    }

				    @media(max-width: $tablet) {
					    font-size: 1rem;
					    line-height: 1.2;
				    }
				    
			    }

				.date {
		    		font-family: $mont-bold;
				    font-size: 1.0625rem;
				    color: #4c4c4c;
				    margin-bottom: 40px;
				    padding-left: 24px;
    				position: relative;


				    @media(max-width: $desktop) {
				    font-size: 1rem;
				    }

				    @media(max-width: $tablet) {
					     font-size: 0.8rem;
				    }

    				.icon {
					    position: absolute;
					    top: 4px;
					    left: 0;
					}
				}

				.btn-green {
					position: absolute;
					bottom: 50px;
				    padding: 20px 30px;


				    @media(max-width: $widescreen) {
					    padding: 15px;
				    }

				    @media(max-width: $desktop) {
					    font-size: 0.8rem;
					    padding: 5px;
				    }

				    @media(max-width: $tablet) {
					    padding: 10px;
					    font-size: 0.8rem;
				    }

				    @media(max-width: $sm-tablet) {
					    padding: 5px;
					    font-size: 0.7rem;
					    bottom: 8px;
				    }

				    @media(max-width: $phone) {
					    right: 35px;
				    }

				}
			}
		}

		.owl-nav {
		    position: absolute;
		    right: 50px;
		    bottom: 50px;


		    @media(max-width: $sm-tablet) {
			    bottom: 5px;
			    right: 5px;
		    }

		    @media(max-width: $phone) {
			    bottom: -120px;
			    right: 30px;
		    }


		    @media(max-width: $md-phone) {
		    	bottom: -45px;
		    }

		    button {
		    	&.owl-next,
		    	&.owl-prev {
		    		background-color: #24964d;
				    padding: 7px 15px !important;
				    display: inline-block;
		    	}


		    	&.owl-next {
				    border-top-right-radius: 3px;
				    border-bottom-right-radius: 3px;
		    	}

		    	&.owl-prev {
				    border-top-left-radius: 3px;
				    border-bottom-left-radius: 3px;
				}

				span {
					background-position: bottom;
				}


				&:hover {
					background-color: #1a833f;
				}

				&:focus {
				    box-shadow: none;
				    outline: none;
				}
		    }
		}
    }
}
