.global-search-form {
	color: #000;
    .search-field {

	    border: 0;
	    border-bottom: 4px solid #bfbfbf;
	    border-radius: 0;
	    padding: 0;
	    width: 300px;
	    color: #000000;
	    font-family: Fontfabric-Mont-Heavy;
	    font-size: 1.125rem;
	    background-color: transparent;

		@media(max-width: $phone) {
			width: 200px;
			font-size: 1rem;
		}
		@media(max-width: $desktop) {
			color: #fff;
		}

		&:focus {
		    outline: none;
		    box-shadow: none;
		}

		&::-webkit-input-placeholder { /* Edge */
		  color: #bfbfbf;
		}

		&:-ms-input-placeholder { /* Internet Explorer */
		  color: #bfbfbf;
		}

		&::placeholder {
		  color: #bfbfbf;
		}

    }

    .screen-reader-text, 
    .search-submit {
	    display: none;
	}

	@media(max-width: $desktop) {
		padding-left: 20px;
	}

	@media(max-width: $phone) {
		padding-left: 0;
	}


}

.section-result {
    padding: 50px 0;

     article {
	    border-bottom: 1px solid #000;

	    h2 {
	    	a {
			    color: #000;
			    font-size: 1.5rem;
			}
	    }
	}
}