/**********
Font Face
************/ 
@font-face {
  font-family: 'Fontfabric-Mont-Heavy';
  src: url('../fonts/Fontfabric---Mont-Heavy.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Fontfabric-Mont-Bold';
  src: url('../fonts/Fontfabric---Mont-Bold.otf'); /* IE9 Compat Modes */

}

html {
	@media(max-width: $phone) {
	    font-size: 14px;
    }
}

.main-content {
    @media(max-width: $desktop) {
        padding-top: 110px;
    }
}

.brand {


	span {
		font-family: $mont-heavy;
	    color: #ffffff;
	    font-size: 1.375rem;
	    margin-left: 0.8125rem;
	    -webkit-font-smoothing: antialiased;

		@media(max-width: $sm-tablet) {
			font-size: 1rem;
		}
	}

	&:hover {
		text-decoration: none;
	}
}

.zindex2 {
	z-index: 2;
}

/**********
Buttons
************/ 

.btn-green {
    background-color: #24964d;
    font-size: 1rem;
    color: #ffffff;
	font-family: $mont-bold;
	-webkit-font-smoothing: antialiased;
	
    	&:hover {
    		background-color: #1a833f;
    		color: #fff;
    	}
}

/**********
Icons
************/ 

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-clock {
	background-image: url('../images/icons/icon-clock.png');
}

.icon-next {
	background-image: url('../images/icons/icon-next.png');
}

.icon-prev {
	background-image: url('../images/icons/icon-prev.png');
}

.icon-phone {
	background-image: url('../images/icons/icon-phone.png');
}