// Fonts
$mont-heavy:        "Fontfabric-Mont-Heavy";
$mont-bold:         "Fontfabric-Mont-Bold";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$dark-blue:         	#10191c;
$bg-gray:         		#f2f2f2;


// media
$xs-phone : 375px;
$md-phone : 414px;
$phone : 575px;
$sm-tablet : 767px;
$tablet : 768px;
$desktop : 991px;
$widescreen : 1200px;

